body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: cursive;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
}
option{
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
}